extends ../layouts/default

block content
  header
    nav
      ul
        li
          a(href="http://github.com/shorten/shorten.github.io") source
        li
          a(href="/js") shorten.js
        li
          a(href="https://twitter.com/shortenli" target="_blank") twitter
  main
    header
      h1 shorten.li
      h2
        span="Free link-shortener?"
        span="Yes."
        span="Open-source?"
        span="Double-yes!"

    section.form
      form#form
        input(name="url" type="url" pattern="https?://.+" placeholder="paste a link to shorten it" required autofocus)
        input(type="submit" value="shorten")
      p#urls-created

    section.list
      header
        h3="Your previously shortened links"
      hr
      ul#list
  // build:js /scripts/form.js
  script(src='/scripts/form.js')
  // endbuild
  // build:js /scripts/urlsCreated.js
  script(src='/scripts/urlsCreated.js')
  // endbuild